@charset "utf-8";
/* CSS Document */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
header {
    width: 1200px;
    height: 200px;
    background-color: midnightblue;
    text-align: center;
	margin-left: auto;
	margin-right: auto
}
nav {
	top: 700px;
    height: 100px;
    width: 1200px;
    background-color: cornflowerblue;
    border-radius: 50px;
    text-align: center;
	margin-left: auto;
	margin-right: auto
}
footer {
    top: 700px;
    height: 50px;
    width: 1200px;
    background-color:cornflowerblue;
    text-align: center;
    padding-top: 12px; /* ensure text is vertically centered */
	margin-left: auto;
	margin-right: auto
}
a {
    font-style: oblique;
    font-size: 30px;
}
li {
    list-style-type: none;
    margin: 0 auto;
    display: inline-block;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}
h1 {
    color: rgb(204,175,184);
    text-align: center;
    font-size: 50px;
    margin-top: 75px;
}
tr,th,td {
    border: 1px solid black;
    font-size: 20px;
}
th {
    background-color: rgb(0, 132, 255);
}
article {
    width: 1200px;
    height: 200px;
    margin-top: 20px;
    background-color: beige;
	margin-left: auto;
	margin-right: auto
}
article p {
    font-size: 30px;
    color: midnightblue;
    text-align: center;
    font-weight: bold;
}
footer p {
    font-weight: bold;
    text-align: center;
    font-style: oblique;
    margin: 0;
}